.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid salmon;
  padding: 20px;
  margin: 50px auto 0;
  box-shadow: 0 0 1px 1px salmon;
  border-radius: 5px;
}

.link:hover {
  color: #fa8072;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-right: 10px;
}
.button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.name {
  margin-right: 30px;
}
.userWrapper {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .nav {
    width: 250px;
  }
}
