/* .list {
  margin-top: 30px;
  color: rgb(134, 33, 230);
  font-weight: 500;
  font-size: 18px;
}
.text_item {
  display: flex;
  justify-content: space-between;
}
.text_delete {
  background-color: #4caf50; /* Green */

/* color: white;

  text-align: center;

  font-size: 16px;
} */

.item {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.nameText {
  display: inline-block;
  font-size: 14px;
  padding: 0 10px 10px;
  border-radius: 10px;
  border-bottom: 1px solid salmon;
}
.nameText:not(:last-child) {
  margin-bottom: 20px;
}
.button {
  background-color: transparent;
  border: none;
  color: antiquewhite;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nameText {
    font-size: 18px;
  }
}
